body {
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #E6EFF2;
}
.logo {
    width: 380px;
    height: 120px;
    background-image: url(img/logo.png);
}

.centrado {
    margin-left: auto;
    margin-right: auto;
}

.contenedor {
    width: 500px;
    padding: 20px;
    background-color: #fff;
}

.imgfondo {
    background-position:center;
    background-repeat:no-repeat;
    padding: 10px;
}

.sociallogos {
    width: 350px;
    height: 50px;
    background-image: url(img/socialLogos.png);
}

.contenedorlogos {
    width: 350px;
    height: 50px;
}

.elementofrm {
    border: 1px solid;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: large;
}

button {
    min-height: 40px;
    min-width: 150px;
    max-width: 200px;
    background-color: #36C;
    color:#FFF;
}

input {
    padding: 7px;
    border-color: #999;
    width: 220px;
}

table , tr, td {
    border-width: 0px;
}

td {
    padding: 5px;
}

td p {
    margin-top: 0px;
    margin-bottom: 0px;
}

a, a:link, a:visited, a:active  {
    text-decoration: none;
    color: #336699;
    font-weight: bold;
}

a:hover {
    color:#993333;
    text-decoration: underline;
}