body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
}
.logo {
    width: 380px;
    height: 120px;
    background-image: url(img/logo.png);
}

.centrado {
    margin-left: auto;
    margin-right: auto;
}

.contenedor {
    width: 500px;
    padding: 20px;
    border: medium dashed #36C;
}

.imgfondo {
    background-position:center;
    background-repeat:no-repeat;
    padding: 10px;
}

.fslogo {
    width: 200px;
    height: 40px;
    background-image: url(img/fs.png);
	float: left;
}

.fblogo {
    width: 50px;
    height: 40px;
    background-image: url(img/fb.png);
    float: left;
}

.gclogo {
    width: 209px;
    height: 40px;
    background-image: url(img/gc.png);
	margin-left: 250px;
}

.contenedorlogos {
    width: 490px;
}

.elementofrm {
    border: 1px solid;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: large;
}

button {
    min-height: 40px;
    min-width: 150px;
	max-width: 200px;
    background-color: #36C;
    color:#FFF;
}

input {
    padding: 7px;
    border-color: #999;
    width: 220px;
}

table , tr, td {
	border-width: 0px;
}

td {
	padding: 5px;
}

td p {
	line-height: 0px; 
}

a, a:link, a:visited, a:active  {
	text-decoration: none;
	color:#900;
	font-weight: bold;
}

a:hover {
	color:#FC0;
	font-weight: bolder;
}